name: CI

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request_target:
    branches: [ "master" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      # - name: Check branch
      #   run: git branch
      # - name: Install Dependencies
      #   run: npm install
      # - name: Run Tests
      #   run: npm test
        - name: Checkout
          uses: actions/checkout@v3
        - name: Install OpenVPN
          run: |
            sudo apt update
            sudo apt install -y openvpn openvpn-systemd-resolved
        - name: Connect to VPN
          uses: "kota65535/github-openvpn-connect-action@v2"
          with:
            config_file: ./github/workflows/test.ovpn
            username: ${{ secrets.OVPN_USERNAME }}
            password: ${{ secrets.OVPN_PASSWORD }}
            client_key: ${{ secrets.OVPN_CLIENT_KEY }}
        - name: Use Node.js ${{ matrix.node-version }}
          uses: actions/setup-node@v3
          with:
            node-version: ${{ matrix.node-version }}
            cache: "npm"
        - name: Install Dependencies
          run: npm install
        - name: Run Tests
          run: npm test



        